<nav class="navbar">
    <div class="navbar-content">
  
      <!-- LEFT: navigation links -->
      <div class="navbar-left">
        <ul class="nav-links">
          <li><a href="/">Home</a></li> 
          <li><a href="/faq">FAQ</a></li> 
          <li><a href="/bundles">Bundles</a></li>
          <li><a href="/products">Products</a></li> 
          <li><a href="/explore">Explore</a></li> 
          <li><a href="/contactus">Contact Us</a></li>
        </ul>
      </div>
  
      <!-- CENTER: logo -->
     <div class="navbar-center">
  <a href="/" class="logo">
    <img id="navbar-logo" src="/images/Logo.png" alt="NumNum Logo" class="logo-img" style="display:block;">
  </a>
</div>
  
      <!-- RIGHT: icons and search -->
      <div class="navbar-right">
        <a href="/login"><i class="fas fa-user icon"></i></a>
       <a href="/favorites"><i class="fas fa-heart icon"></i></a>
       <a href="/cart"><i class="fas fa-shopping-cart icon"></i></a>
      </div>
    </div>
  </nav>