<aside class="admin-sidebar">
    <div class="sidebar-header">
        <i class="fas fa-tools"></i>
        <h2>Admin Panel</h2>
    </div>
    <nav class="sidebar-nav">
        <a href="/admin/dashboard" class="nav-link">
            <i class="fas fa-tachometer-alt nav-icon"></i>
            <span>Dashboard</span>
        </a>
        
        <a href="/admin/products" class="nav-link">
            <i class="fas fa-box nav-icon"></i>
            <span>Products</span>
        </a>

        <a href="/admin/bundles" class="nav-link">
            <i class="fas fa-box nav-icon"></i>
            <span>Bundles</span>
        </a>

        <a href="/admin/orders" class="nav-link">
            <i class="fas fa-shopping-cart nav-icon"></i>
            <span>Orders</span>
        </a>

        <a href="/admin/users" class="nav-link">
            <i class="fas fa-users nav-icon"></i>
            <span>Users</span>
        </a>

        <a href="/admin/reviews" class="nav-link">
            <i class="fas fa-star nav-icon"></i>
            <span>Reviews</span>
        </a>

        <a href="/admin/c&c" class="nav-link">
        <i class="fas fa-globe nav-icon"></i>
            <span>Countries & Categories</span>
        </a>
    </nav>
    <div class="sidebar-footer">

        <a href="/login" class="logout-btn">
            <i class="fas fa-sign-out-alt"></i>
            Logout
        </a>
    </div>
</aside>