<!-- Background Section -->
     <div class="background" id="background"></div>

     <!-- Scrollable Country List -->
     <div class="scroll-container" id="scrollContainer">
         <div class="scroll-content" id="scrollContent"></div>
     </div>
 
     <div class="vertical-nav">
        <div class="nav-dots">
          <!-- Dots will be added dynamically by JavaScript -->
        </div>
      </div>

    </div>