<!-- Spacer for navbar height -->
        <div class="navbar-spacer"></div>

        <!-- Favorites Count Header -->
        <div class="favorites-count-header">
            <h2>
                Favorites <span id="favorites-count-header"></span>
            </h2>
            <div class="bar"></div>
        </div>

        <!-- Cards Container -->
        <div class="products-grid">
            <div class="cards-container" id="favorites-container">
                <!-- Cards will be rendered here by JS -->
            </div>
        </div>

        <div id="pagination-controls"></div>